@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

// FONTS
$font-main: 'Space Mono', monospace;

// COLORS
$primary-strong-cyan: hsl(172, 67%, 45%);

$neutral-very-dark-cyan: hsl(183, 100%, 15%) ;
$neutral-dark-grayish-cyan: hsl(186, 14%, 43%) ;
$neutral-grayish-cyan: hsl(184, 14%, 56%) ;
$neutral-light-grayish-cyan: hsl(185, 41%, 84%) ;
$neutral-very-light-grayish-cyan: hsl(189, 41%, 97%) ;
$neutral-white: hsl(0, 0%, 100%) ;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-main;
    font-size: 24px;
}

body {
    height: 100vh;
    background-color: $neutral-light-grayish-cyan;

    display: grid;
    place-content: center;
}

.container {
    display: grid;
    gap: 2rem;

    svg {
        place-self: center;
    }
}

.calculator {
    background-color: $neutral-white;
    padding: 1rem;
    border-radius: .65rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &__left-col {
        display: grid;
        gap: 1rem;

        &__bill-input {
            display: flex;
            flex-direction: column;
            
            #bill_input {
                color: $neutral-very-dark-cyan;
                background-image: url(../../images/icon-dollar.svg);
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: .65rem;
                text-align: right;
                padding-right: .65rem;
                
            }
        }

        &__select-tip {
            fieldset {border: none;}

            &__options {

                display: grid;
                grid-template:
                    "a a a"
                    "a a a";
                gap: .5rem;

                input {
                    width: 100px;
                    padding: .2rem;
                    background-color: $neutral-very-dark-cyan;
                    border: none;
                    border-radius: .2rem;
                }
                .tipPercentage {
                    color: $neutral-white;
                }

                #select_tip_custom_val {
                    color: $neutral-very-dark-cyan;
                    text-align: right;
                    padding-right: .65rem;
                }
            }
        }

        &__num-of-ppl {
            display: flex;
            flex-direction: column;

            #num_of_ppl {
                color: $neutral-very-dark-cyan;
                background-image: url(../../images/icon-person.svg);
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: .65rem;
                text-align: right;
                padding-right: .65rem;
            }
        }

        label, legend {
            font-size: .6rem;
            color: $neutral-grayish-cyan;
            padding-bottom: .3rem;
        }

        ::placeholder {
            color: $neutral-dark-grayish-cyan;
        }
    }

    &__right-col {
        background-color: $neutral-very-dark-cyan;
        padding: 1rem;
        border-radius: .65rem;

        display: flex;
        flex-direction: column;
        place-content: space-between;

        &__box {
            display: grid;
            gap: .5rem;

            &__row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__text {
                    h1 {
                        color: $neutral-light-grayish-cyan;
                        font-size: .6rem;
                    }
                    p {
                        color: $neutral-dark-grayish-cyan;
                        font-size: .4rem;
                    }
                }

                #tip_amount, #total_amount {
                    color: $primary-strong-cyan;
                    font-size: 1.3rem;
                }
            }            
        }

        #reset-btn {
            font-family: $font-main;
            background-color: lighten($neutral-very-dark-cyan, 5%);
            color: $neutral-very-dark-cyan;
            border: none;
            border-radius: .1rem;
            padding: .35rem;
        }
        .activeResetBtn:hover {
            background-color: lighten($primary-strong-cyan, 25%)!important;
            cursor: pointer;
        }
    }

    input {
        font-family: $font-main;
        font-size: .75rem;
    }
}

input.custom-input {
    padding: .2rem;
    border: none;
    border-radius: .2rem;
    background-color: $neutral-very-light-grayish-cyan;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:focus {
    outline: 2px solid $primary-strong-cyan;
}

// HELPER CLASSES
.activeBtn {
    background-color: $primary-strong-cyan!important;
    color: $neutral-very-dark-cyan!important;
}
.activeResetBtn {
    background-color: $primary-strong-cyan!important;
}

label:has(+ input.invalidInput)::after {
    content: "Can't be zero";
    position: relative;
    width: auto;
    color: red;
    font-size: .6rem;
    float: right;
}
.invalidInput {
    outline: 2px solid red!important;
}

// MEDIA QUERIES
@media (max-width: 670px) {
    body {
        padding-top: 2rem;
        place-content: unset;
    }

    .calculator {
        width: 100vw;
        grid-template-columns: 1fr;

        &__left-col {
            &__select-tip {
                &__options {
                    justify-items: center;
                }
            }
        }

        &__right-col {
            #reset-btn {
                margin-top: 2rem;
            }
        }
    }
}
@media (max-width: 400px) {
    .calculator {
        &__left-col {
            &__select-tip {
                &__options {
                    grid-template: 
                        "a a"
                        "a a"
                        "a a";
                }
            }
        }
    }
}